USE [SWP1]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID_Admin] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[ID_Blog] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](max) NULL,
	[BlogDescription] [nvarchar](max) NULL,
	[BlogDate] [date] NULL,
	[Image] [nvarchar](max) NULL,
	[ID_Khoi] [int] NULL,
	[ID_PhanLoai] [int] NULL,
	[ID_KeyTag] [int] NULL,
	[ID_Keyword] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[ID_Blog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyLopHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyLopHoc](
	[ID_HocSinh] [int] NOT NULL,
	[ID_LopHoc] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TinhTrangHocPhi] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKyLopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangTaiLieu]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangTaiLieu](
	[ID_Material] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NULL,
	[TenTaiLieu] [nvarchar](100) NOT NULL,
	[ID_LoaiTaiLieu] [int] NULL,
	[DuongDan] [nvarchar](255) NULL,
	[NgayTao] [date] NOT NULL,
	[GiaTien] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[ID_MonHoc] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_DangTaiLieu] PRIMARY KEY CLUSTERED 
(
	[ID_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[ID_Diem] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_LopHoc] [int] NULL,
	[DiemKiemTra] [decimal](5, 2) NULL,
	[DiemBaiTap] [decimal](5, 2) NULL,
	[DiemGiuaKy] [decimal](5, 2) NULL,
	[DiemCuoiKy] [decimal](5, 2) NULL,
	[DiemTongKet]  AS (((([DiemKiemTra]+[DiemBaiTap])+[DiemGiuaKy])+[DiemCuoiKy])/(4)) PERSISTED,
	[ThoiGianCapNhat] [datetime] NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[ID_Diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[ID_DiemDanh] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_Schedule] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LyDoVang] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[ID_DiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[ID_GiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[ID_TruongHoc] [int] NOT NULL,
	[Luong] [decimal](10, 2) NULL,
	[IsHot] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[BangCap] [nvarchar](50) NULL,
	[LopDangDayTrenTruong] [nvarchar](50) NULL,
	[TrangThaiDay] [nvarchar](20) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[ID_GiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GiaoVien_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien_LopHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien_LopHoc](
	[ID_GiaoVien] [int] NOT NULL,
	[ID_LopHoc] [int] NOT NULL,
 CONSTRAINT [PK_GiaoVien_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_GiaoVien] ASC,
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[ID_HocPhi] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_LopHoc] [int] NULL,
	[MonHoc] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TinhTrangThanhToan] [nvarchar](50) NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[SoBuoi] [int] NULL,
	[HocPhiPhaiDong] [int] NULL,
	[DaDong] [int] NULL,
	[NoConLai] [int] NULL,
 CONSTRAINT [PK_HocPhi] PRIMARY KEY CLUSTERED 
(
	[ID_HocPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[ID_HocSinh] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [nvarchar](20) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[SDT_PhuHuynh] [nvarchar](15) NOT NULL,
	[ID_TruongHoc] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[LopDangHocTrenTruong] [nvarchar](50) NULL,
	[TrangThaiHoc] [nvarchar](20) NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HocSinh_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HocSinh_MaHocSinh] UNIQUE NONCLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh_LopHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh_LopHoc](
	[ID_HSLopHoc] [int] IDENTITY(1,1) NOT NULL,
	[ID_LopHoc] [int] NULL,
	[ID_HocSinh] [int] NULL,
	[FeedBack] [nvarchar](max) NULL,
	[Status_FeedBack] [bit] NULL,
 CONSTRAINT [PK_HocSinh_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_HSLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh_PhuHuynh]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh_PhuHuynh](
	[ID_HocSinh] [int] NOT NULL,
	[ID_PhuHuynh] [int] NOT NULL,
 CONSTRAINT [PK_HocSinh_PhuHuynh] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_PhuHuynh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoTro]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoTro](
	[ID_HoTro] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[TenHoTro] [nvarchar](100) NULL,
	[ThoiGian] [datetime] NULL,
	[MoTa] [nvarchar](255) NULL,
	[ID_TaiKhoan] [int] NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[DaDuyet] [nvarchar](max) NULL,
	[VaiTro] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
 CONSTRAINT [PK_HoTro] PRIMARY KEY CLUSTERED 
(
	[ID_HoTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyTag]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyTag](
	[ID_KeyTag] [int] IDENTITY(1,1) NOT NULL,
	[KeyTag] [nvarchar](max) NULL,
 CONSTRAINT [PK_KeyTag] PRIMARY KEY CLUSTERED 
(
	[ID_KeyTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keyword]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyword](
	[ID_Keyword] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](max) NULL,
 CONSTRAINT [PK_Keyword] PRIMARY KEY CLUSTERED 
(
	[ID_Keyword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[ID_KhoaHoc] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](20) NOT NULL,
	[TenKhoaHoc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[ID_Khoi] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[ID_KhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhoaHoc_CourseCode] UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiHoc](
	[ID_Khoi] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoi] [nvarchar](50) NOT NULL,
	[Status_Khoi] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhoiHoc] PRIMARY KEY CLUSTERED 
(
	[ID_Khoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[ID_Schedule] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoc] [date] NOT NULL,
	[ID_SlotHoc] [int] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[ID_PhongHoc] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[DaDiemDanh] [bit] NULL,
 CONSTRAINT [PK_LichHoc] PRIMARY KEY CLUSTERED 
(
	[ID_Schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiLieu]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiLieu](
	[ID_LoaiTaiLieu] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTaiLieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiTaiLieu] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[ID_LopHoc] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [nvarchar](20) NOT NULL,
	[TenLopHoc] [nvarchar](100) NOT NULL,
	[ID_KhoaHoc] [int] NULL,
	[SiSo] [int] NULL,
	[SiSoToiDa] [int] NULL,
	[SiSoToiThieu] [int] NULL,
	[ID_Schedule] [int] NULL,
	[ID_PhongHoc] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[SoTien] [nvarchar](10) NULL,
	[NgayTao] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LopHoc_ClassCode] UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongGiaoVien]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongGiaoVien](
	[ID_Luong] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NOT NULL,
	[ChuKyBatDau] [date] NOT NULL,
	[ChuKyKetThuc] [date] NOT NULL,
	[SoBuoiDay] [int] NOT NULL,
	[LuongDuTinh] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[ThuongPhat] [decimal](10, 2) NULL,
 CONSTRAINT [PK_LuongGiaoVien] PRIMARY KEY CLUSTERED 
(
	[ID_Luong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[ID_MonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](max) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[ID_MonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NopBaiTap]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NopBaiTap](
	[ID_HocSinh] [int] NOT NULL,
	[ID_BaiTap] [int] NOT NULL,
	[TepNop] [nvarchar](255) NULL,
	[NgayNop] [date] NOT NULL,
	[Diem] [decimal](5, 2) NULL,
	[NhanXet] [nvarchar](max) NULL,
	[ID_LopHoc] [int] NULL,
 CONSTRAINT [PK_NopBaiTap] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_BaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiBlog]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiBlog](
	[ID_PhanLoai] [int] IDENTITY(1,1) NOT NULL,
	[PhanLoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanLoaiBlog] PRIMARY KEY CLUSTERED 
(
	[ID_PhanLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[ID_PhongHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongHoc] [nvarchar](50) NOT NULL,
	[SucChua] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[ID_PhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuHuynh]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuHuynh](
	[ID_PhuHuynh] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhuHuynh] PRIMARY KEY CLUSTERED 
(
	[ID_PhuHuynh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PhuHuynh_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID_Slider] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[BackLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[ID_Slider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlotHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlotHoc](
	[ID_SlotHoc] [int] IDENTITY(1,1) NOT NULL,
	[SlotThoiGian] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SlotHoc] PRIMARY KEY CLUSTERED 
(
	[ID_SlotHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID_Staff] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID_Staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[ID_VaiTro] [int] NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaoBaiTap]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaoBaiTap](
	[ID_BaiTap] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NULL,
	[TenBaiTap] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [date] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[Deadline] [date] NULL,
	[FileName] [varchar](255) NULL,
 CONSTRAINT [PK_TaoBaiTap] PRIMARY KEY CLUSTERED 
(
	[ID_BaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ID_ThongBao] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ID_HocPhi] [int] NULL,
	[ThoiGian] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[ID_ThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruongHoc]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongHoc](
	[ID_TruongHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenTruongHoc] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_TruongHoc] PRIMARY KEY CLUSTERED 
(
	[ID_TruongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[ID_Log] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HanhDong] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_UserLogs] PRIMARY KEY CLUSTERED 
(
	[ID_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 25/07/2025 3:00:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ID_VaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MieuTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID_VaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyLopHoc] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangTaiLieu] ADD  CONSTRAINT [DF__DangTaiLi__NgayT__1CBC4616]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT (getdate()) FOR [ThoiGianCapNhat]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HocSinh] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HocSinh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoiHoc] ADD  DEFAULT ((1)) FOR [Status_Khoi]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ((0)) FOR [SoBuoiDay]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ('Pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ((0)) FOR [ThuongPhat]
GO
ALTER TABLE [dbo].[NopBaiTap] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[PhongHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuHuynh] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuHuynh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaoBaiTap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[UserLogs] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_TaiKhoan]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_KeyTag] FOREIGN KEY([ID_KeyTag])
REFERENCES [dbo].[KeyTag] ([ID_KeyTag])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_KeyTag]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Keyword] FOREIGN KEY([ID_Keyword])
REFERENCES [dbo].[Keyword] ([ID_Keyword])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Keyword]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_KhoiHoc] FOREIGN KEY([ID_Khoi])
REFERENCES [dbo].[KhoiHoc] ([ID_Khoi])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_KhoiHoc]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_PhanLoaiBlog] FOREIGN KEY([ID_PhanLoai])
REFERENCES [dbo].[PhanLoaiBlog] ([ID_PhanLoai])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_PhanLoaiBlog]
GO
ALTER TABLE [dbo].[DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKyLopHoc_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[DangKyLopHoc] CHECK CONSTRAINT [FK_DangKyLopHoc_HocSinh]
GO
ALTER TABLE [dbo].[DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKyLopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[DangKyLopHoc] CHECK CONSTRAINT [FK_DangKyLopHoc_LopHoc]
GO
ALTER TABLE [dbo].[DangTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_DangTaiLieu_LoaiTaiLieu] FOREIGN KEY([ID_LoaiTaiLieu])
REFERENCES [dbo].[LoaiTaiLieu] ([ID_LoaiTaiLieu])
GO
ALTER TABLE [dbo].[DangTaiLieu] CHECK CONSTRAINT [FK_DangTaiLieu_LoaiTaiLieu]
GO
ALTER TABLE [dbo].[DangTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_DangTaiLieu_MonHoc] FOREIGN KEY([ID_MonHoc])
REFERENCES [dbo].[MonHoc] ([ID_MonHoc])
GO
ALTER TABLE [dbo].[DangTaiLieu] CHECK CONSTRAINT [FK_DangTaiLieu_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HocSinh]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_LopHoc]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_HocSinh]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_LichHoc] FOREIGN KEY([ID_Schedule])
REFERENCES [dbo].[LichHoc] ([ID_Schedule])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_LichHoc]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_TaiKhoan]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_TruongHoc] FOREIGN KEY([ID_TruongHoc])
REFERENCES [dbo].[TruongHoc] ([ID_TruongHoc])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_TruongHoc]
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_LopHoc_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc] CHECK CONSTRAINT [FK_GiaoVien_LopHoc_GiaoVien]
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_LopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc] CHECK CONSTRAINT [FK_GiaoVien_LopHoc_LopHoc]
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocPhi] CHECK CONSTRAINT [FK_HocPhi_HocSinh]
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[HocPhi] CHECK CONSTRAINT [FK_HocPhi_LopHoc]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_TaiKhoan]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_TruongHoc] FOREIGN KEY([ID_TruongHoc])
REFERENCES [dbo].[TruongHoc] ([ID_TruongHoc])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_TruongHoc]
GO
ALTER TABLE [dbo].[HocSinh_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHoc_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocSinh_LopHoc] CHECK CONSTRAINT [FK_HocSinh_LopHoc_HocSinh]
GO
ALTER TABLE [dbo].[HocSinh_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[HocSinh_LopHoc] CHECK CONSTRAINT [FK_HocSinh_LopHoc_LopHoc]
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh_HocSinh]
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh_PhuHuynh] FOREIGN KEY([ID_PhuHuynh])
REFERENCES [dbo].[PhuHuynh] ([ID_PhuHuynh])
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh_PhuHuynh]
GO
ALTER TABLE [dbo].[HoTro]  WITH CHECK ADD  CONSTRAINT [FK_HoTro_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[HoTro] CHECK CONSTRAINT [FK_HoTro_TaiKhoan]
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHoc_KhoiHoc] FOREIGN KEY([ID_Khoi])
REFERENCES [dbo].[KhoiHoc] ([ID_Khoi])
GO
ALTER TABLE [dbo].[KhoaHoc] CHECK CONSTRAINT [FK_KhoaHoc_KhoiHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_LopHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_PhongHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_SlotHoc] FOREIGN KEY([ID_SlotHoc])
REFERENCES [dbo].[SlotHoc] ([ID_SlotHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_SlotHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_KhoaHoc] FOREIGN KEY([ID_KhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([ID_KhoaHoc])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_KhoaHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_PhongHoc]
GO
ALTER TABLE [dbo].[LuongGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongGiaoVien_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[LuongGiaoVien] CHECK CONSTRAINT [FK_LuongGiaoVien_GiaoVien]
GO
ALTER TABLE [dbo].[LuongGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongGiaoVien_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[LuongGiaoVien] CHECK CONSTRAINT [FK_LuongGiaoVien_LopHoc]
GO
ALTER TABLE [dbo].[NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBaiTap_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[NopBaiTap] CHECK CONSTRAINT [FK_NopBaiTap_HocSinh]
GO
ALTER TABLE [dbo].[NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBaiTap_TaoBaiTap] FOREIGN KEY([ID_BaiTap])
REFERENCES [dbo].[TaoBaiTap] ([ID_BaiTap])
GO
ALTER TABLE [dbo].[NopBaiTap] CHECK CONSTRAINT [FK_NopBaiTap_TaoBaiTap]
GO
ALTER TABLE [dbo].[PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_PhuHuynh_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[PhuHuynh] CHECK CONSTRAINT [FK_PhuHuynh_TaiKhoan]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([ID_VaiTro])
REFERENCES [dbo].[VaiTro] ([ID_VaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[TaoBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_TaoBaiTap_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[TaoBaiTap] CHECK CONSTRAINT [FK_TaoBaiTap_GiaoVien]
GO
ALTER TABLE [dbo].[TaoBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_TaoBaiTap_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[TaoBaiTap] CHECK CONSTRAINT [FK_TaoBaiTap_LopHoc]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_HocPhi] FOREIGN KEY([ID_HocPhi])
REFERENCES [dbo].[HocPhi] ([ID_HocPhi])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_HocPhi]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_TaiKhoan]
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLogs_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[UserLogs] CHECK CONSTRAINT [FK_UserLogs_TaiKhoan]
GO
