USE [SWP1]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID_Admin] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[ID_Blog] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](max) NULL,
	[BlogDescription] [nvarchar](max) NULL,
	[BlogDate] [date] NULL,
	[Image] [nvarchar](max) NULL,
	[ID_Khoi] [int] NULL,
	[ID_PhanLoai] [int] NULL,
	[ID_KeyTag] [int] NULL,
	[ID_Keyword] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[ID_Blog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyLopHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyLopHoc](
	[ID_HocSinh] [int] NOT NULL,
	[ID_LopHoc] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TinhTrangHocPhi] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKyLopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangTaiLieu]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangTaiLieu](
	[ID_Material] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NULL,
	[TenTaiLieu] [nvarchar](100) NOT NULL,
	[ID_LoaiTaiLieu] [int] NULL,
	[DuongDan] [nvarchar](255) NULL,
	[NgayTao] [date] NOT NULL,
	[GiaTien] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[ID_MonHoc] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_DangTaiLieu] PRIMARY KEY CLUSTERED 
(
	[ID_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[ID_Diem] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_LopHoc] [int] NULL,
	[DiemKiemTra] [decimal](5, 2) NULL,
	[DiemBaiTap] [decimal](5, 2) NULL,
	[DiemGiuaKy] [decimal](5, 2) NULL,
	[DiemCuoiKy] [decimal](5, 2) NULL,
	[DiemTongKet]  AS (((([DiemKiemTra]+[DiemBaiTap])+[DiemGiuaKy])+[DiemCuoiKy])/(4)) PERSISTED,
	[ThoiGianCapNhat] [datetime] NOT NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[ID_Diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[ID_DiemDanh] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_Schedule] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LyDoVang] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiemDanh] PRIMARY KEY CLUSTERED 
(
	[ID_DiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[ID_GiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[ID_TruongHoc] [int] NOT NULL,
	[Luong] [decimal](10, 2) NULL,
	[IsHot] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[BangCap] [nvarchar](50) NULL,
	[LopDangDayTrenTruong] [nvarchar](50) NULL,
	[TrangThaiDay] [nvarchar](20) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[ID_GiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien_LopHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien_LopHoc](
	[ID_GiaoVien] [int] NOT NULL,
	[ID_LopHoc] [int] NOT NULL,
 CONSTRAINT [PK_GiaoVien_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_GiaoVien] ASC,
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[ID_HocPhi] [int] IDENTITY(1,1) NOT NULL,
	[ID_HocSinh] [int] NULL,
	[ID_LopHoc] [int] NULL,
	[MonHoc] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TinhTrangThanhToan] [nvarchar](50) NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[SoBuoi] [int] NULL,
	[HocPhiPhaiDong] [int] NULL,
	[DaDong] [int] NULL,
	[NoConLai] [int] NULL,
 CONSTRAINT [PK_HocPhi] PRIMARY KEY CLUSTERED 
(
	[ID_HocPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[ID_HocSinh] [int] IDENTITY(1,1) NOT NULL,
	[MaHocSinh] [nvarchar](20) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[SDT_PhuHuynh] [nvarchar](15) NOT NULL,
	[ID_TruongHoc] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[LopDangHocTrenTruong] [nvarchar](50) NULL,
	[TrangThaiHoc] [nvarchar](20) NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh_LopHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh_LopHoc](
	[ID_HSLopHoc] [int] IDENTITY(1,1) NOT NULL,
	[ID_LopHoc] [int] NULL,
	[ID_HocSinh] [int] NULL,
	[FeedBack] [nvarchar](max) NULL,
	[Status_FeedBack] [bit] NULL,
 CONSTRAINT [PK_HocSinh_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_HSLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh_PhuHuynh]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh_PhuHuynh](
	[ID_HocSinh] [int] NOT NULL,
	[ID_PhuHuynh] [int] NOT NULL,
 CONSTRAINT [PK_HocSinh_PhuHuynh] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_PhuHuynh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoTro]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoTro](
	[ID_HoTro] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[TenHoTro] [nvarchar](100) NULL,
	[ThoiGian] [datetime] NULL,
	[MoTa] [nvarchar](255) NULL,
	[ID_TaiKhoan] [int] NULL,
	[PhanHoi] [nvarchar](max) NULL,
	[DaDuyet] [nvarchar](max) NULL,
	[VaiTro] [varchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
 CONSTRAINT [PK_HoTro] PRIMARY KEY CLUSTERED 
(
	[ID_HoTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyTag]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyTag](
	[ID_KeyTag] [int] IDENTITY(1,1) NOT NULL,
	[KeyTag] [nvarchar](max) NULL,
 CONSTRAINT [PK_KeyTag] PRIMARY KEY CLUSTERED 
(
	[ID_KeyTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keyword]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyword](
	[ID_Keyword] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](max) NULL,
 CONSTRAINT [PK_Keyword] PRIMARY KEY CLUSTERED 
(
	[ID_Keyword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[ID_KhoaHoc] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](20) NOT NULL,
	[TenKhoaHoc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[ID_Khoi] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[ID_KhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiHoc](
	[ID_Khoi] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoi] [nvarchar](50) NOT NULL,
	[Status_Khoi] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhoiHoc] PRIMARY KEY CLUSTERED 
(
	[ID_Khoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[ID_Schedule] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoc] [date] NOT NULL,
	[ID_SlotHoc] [int] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[ID_PhongHoc] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[DaDiemDanh] [bit] NULL,
 CONSTRAINT [PK_LichHoc] PRIMARY KEY CLUSTERED 
(
	[ID_Schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiLieu]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiLieu](
	[ID_LoaiTaiLieu] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTaiLieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiTaiLieu] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiTaiLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[ID_LopHoc] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [nvarchar](20) NOT NULL,
	[TenLopHoc] [nvarchar](100) NOT NULL,
	[ID_KhoaHoc] [int] NULL,
	[SiSo] [int] NULL,
	[SiSoToiDa] [int] NULL,
	[SiSoToiThieu] [int] NULL,
	[ID_Schedule] [int] NULL,
	[ID_PhongHoc] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[SoTien] [nvarchar](10) NULL,
	[NgayTao] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongGiaoVien]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongGiaoVien](
	[ID_Luong] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NOT NULL,
	[ChuKyBatDau] [date] NOT NULL,
	[ChuKyKetThuc] [date] NOT NULL,
	[SoBuoiDay] [int] NOT NULL,
	[LuongDuTinh] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[ThuongPhat] [decimal](10, 2) NULL,
 CONSTRAINT [PK_LuongGiaoVien] PRIMARY KEY CLUSTERED 
(
	[ID_Luong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[ID_MonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](max) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[ID_MonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NopBaiTap]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NopBaiTap](
	[ID_HocSinh] [int] NOT NULL,
	[ID_BaiTap] [int] NOT NULL,
	[TepNop] [nvarchar](255) NULL,
	[NgayNop] [date] NOT NULL,
	[Diem] [decimal](5, 2) NULL,
	[NhanXet] [nvarchar](max) NULL,
	[ID_LopHoc] [int] NULL,
 CONSTRAINT [PK_NopBaiTap] PRIMARY KEY CLUSTERED 
(
	[ID_HocSinh] ASC,
	[ID_BaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiBlog]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiBlog](
	[ID_PhanLoai] [int] IDENTITY(1,1) NOT NULL,
	[PhanLoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanLoaiBlog] PRIMARY KEY CLUSTERED 
(
	[ID_PhanLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[ID_PhongHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongHoc] [nvarchar](50) NOT NULL,
	[SucChua] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[ID_PhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuHuynh]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuHuynh](
	[ID_PhuHuynh] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhuHuynh] PRIMARY KEY CLUSTERED 
(
	[ID_PhuHuynh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID_Slider] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[BackLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[ID_Slider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlotHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlotHoc](
	[ID_SlotHoc] [int] IDENTITY(1,1) NOT NULL,
	[SlotThoiGian] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SlotHoc] PRIMARY KEY CLUSTERED 
(
	[ID_SlotHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID_Staff] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[ID_Staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[ID_VaiTro] [int] NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaoBaiTap]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaoBaiTap](
	[ID_BaiTap] [int] IDENTITY(1,1) NOT NULL,
	[ID_GiaoVien] [int] NULL,
	[TenBaiTap] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [date] NOT NULL,
	[ID_LopHoc] [int] NULL,
	[Deadline] [date] NULL,
	[FileName] [varchar](255) NULL,
 CONSTRAINT [PK_TaoBaiTap] PRIMARY KEY CLUSTERED 
(
	[ID_BaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ID_ThongBao] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ID_HocPhi] [int] NULL,
	[ThoiGian] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[ID_ThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruongHoc]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongHoc](
	[ID_TruongHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenTruongHoc] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_TruongHoc] PRIMARY KEY CLUSTERED 
(
	[ID_TruongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[ID_Log] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[HanhDong] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_UserLogs] PRIMARY KEY CLUSTERED 
(
	[ID_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 7/25/2025 1:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ID_VaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MieuTa] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID_VaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID_Admin], [ID_TaiKhoan], [HoTen], [Avatar]) VALUES (1, 1, N'Nguyen Van Admin', N'avatar_admin.jpg')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([ID_Blog], [BlogTitle], [BlogDescription], [BlogDate], [Image], [ID_Khoi], [ID_PhanLoai], [ID_KeyTag], [ID_Keyword], [NoiDung]) VALUES (4, N'Bài Viết Giới Thiệu Cơ sở vật chất của trung tâm', N'Mô tả ngắn của bài viết test.', CAST(N'2025-07-20' AS Date), N'default_blog_image.jpg', NULL, 1, 1, 1, N'<p>Nội dung chi tiết <strong>từ h&agrave;m main</strong> của b&agrave;i viết test<br />
<br />
<br />
<br />
.&nbsp;&nbsp;<img alt="" src="https://i.pinimg.com/1200x/26/a8/e1/26a8e12cfad5ac0eff8fe7fac1d7810d.jpg" style="height:332px; width:500px" /></p>
')
INSERT [dbo].[Blog] ([ID_Blog], [BlogTitle], [BlogDescription], [BlogDate], [Image], [ID_Khoi], [ID_PhanLoai], [ID_KeyTag], [ID_Keyword], [NoiDung]) VALUES (5, N'Bài Viết giới thiệu về trung tâm', N'demo', CAST(N'2025-07-20' AS Date), N'a4ebff58-12db-4d0d-a8b3-7b4ae20392c3.png', NULL, 1, 2, 1, N'<p>aaaa</p><p>&nbsp;</p><p><a href="https://aistudio.google.com/app/prompts/new_chat?model=gemini-2.5-pro">https://aistudio.google.com/app/prompts/new_chat?model=gemini-2.5-pro</a></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>aaaaa</p>')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
INSERT [dbo].[DangKyLopHoc] ([ID_HocSinh], [ID_LopHoc], [NgayDangKy], [TinhTrangHocPhi]) VALUES (1, 1, CAST(N'2025-06-01' AS Date), N'Đã đóng học phí')
INSERT [dbo].[DangKyLopHoc] ([ID_HocSinh], [ID_LopHoc], [NgayDangKy], [TinhTrangHocPhi]) VALUES (2, 2, CAST(N'2025-06-01' AS Date), N'Chưa đóng học phí')
INSERT [dbo].[DangKyLopHoc] ([ID_HocSinh], [ID_LopHoc], [NgayDangKy], [TinhTrangHocPhi]) VALUES (3, 3, CAST(N'2025-06-01' AS Date), N'Đã đóng học phí')
GO
SET IDENTITY_INSERT [dbo].[DangTaiLieu] ON 

INSERT [dbo].[DangTaiLieu] ([ID_Material], [ID_GiaoVien], [TenTaiLieu], [ID_LoaiTaiLieu], [DuongDan], [NgayTao], [GiaTien], [Image], [ID_MonHoc], [NoiDung]) VALUES (1, 1, N'Tài liệu Toán Đại số', 1, N'51d94bd0-9950-4d14-a32a-548b24a27908.pdf', CAST(N'2025-06-01' AS Date), N'200,000', N'img/avatar/Grade.jpg', 1, N'<p>hehehee&nbsp;<img alt="" src="https://i.pinimg.com/1200x/58/a8/8b/58a88b1b6586b3051956f1a76adf551c.jpg" style="height:973px; width:1005px" /></p>
')
INSERT [dbo].[DangTaiLieu] ([ID_Material], [ID_GiaoVien], [TenTaiLieu], [ID_LoaiTaiLieu], [DuongDan], [NgayTao], [GiaTien], [Image], [ID_MonHoc], [NoiDung]) VALUES (2, 2, N'Tài liệu Văn học lớp 6', 1, N'tesstt.txt', CAST(N'2025-06-01' AS Date), N'150,000', N'img/avatar/Grade.jpg', 2, NULL)
INSERT [dbo].[DangTaiLieu] ([ID_Material], [ID_GiaoVien], [TenTaiLieu], [ID_LoaiTaiLieu], [DuongDan], [NgayTao], [GiaTien], [Image], [ID_MonHoc], [NoiDung]) VALUES (3, 6, N'Tài liệu Sinh học lớp 11', 1, N'tesstt.txt', CAST(N'2025-06-01' AS Date), N'200,000', N'img/avatar/Grade.jpg', 6, NULL)
SET IDENTITY_INSERT [dbo].[DangTaiLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Diem] ON 

INSERT [dbo].[Diem] ([ID_Diem], [ID_HocSinh], [ID_LopHoc], [DiemKiemTra], [DiemBaiTap], [DiemGiuaKy], [DiemCuoiKy], [ThoiGianCapNhat]) VALUES (1, 1, 1, CAST(8.50 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(8.50 AS Decimal(5, 2)), CAST(N'2025-06-01T10:00:00.000' AS DateTime))
INSERT [dbo].[Diem] ([ID_Diem], [ID_HocSinh], [ID_LopHoc], [DiemKiemTra], [DiemBaiTap], [DiemGiuaKy], [DiemCuoiKy], [ThoiGianCapNhat]) VALUES (2, 3, 3, CAST(8.00 AS Decimal(5, 2)), CAST(8.50 AS Decimal(5, 2)), CAST(7.50 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(N'2025-06-01T10:00:00.000' AS DateTime))
INSERT [dbo].[Diem] ([ID_Diem], [ID_HocSinh], [ID_LopHoc], [DiemKiemTra], [DiemBaiTap], [DiemGiuaKy], [DiemCuoiKy], [ThoiGianCapNhat]) VALUES (3, 5, 1, CAST(9.50 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(9.50 AS Decimal(5, 2)), CAST(N'2025-06-01T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Diem] OFF
GO
SET IDENTITY_INSERT [dbo].[DiemDanh] ON 

INSERT [dbo].[DiemDanh] ([ID_DiemDanh], [ID_HocSinh], [ID_Schedule], [TrangThai], [LyDoVang]) VALUES (1, 1, 1, N'Có mặt', N'')
INSERT [dbo].[DiemDanh] ([ID_DiemDanh], [ID_HocSinh], [ID_Schedule], [TrangThai], [LyDoVang]) VALUES (2, 3, 3, NULL, NULL)
INSERT [dbo].[DiemDanh] ([ID_DiemDanh], [ID_HocSinh], [ID_Schedule], [TrangThai], [LyDoVang]) VALUES (3, 5, 1, N'Có mặt', N'')
GO
SET IDENTITY_INSERT [dbo].[DiemDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoVien] ON 

INSERT [dbo].[GiaoVien] ([ID_GiaoVien], [ID_TaiKhoan], [HoTen], [ChuyenMon], [SDT], [ID_TruongHoc], [Luong], [IsHot], [TrangThai], [NgayTao], [Avatar], [BangCap], [LopDangDayTrenTruong], [TrangThaiDay]) VALUES (1, 4, N'Vũ Văn Chủ', N'Toán học', N'0987654321', 1, CAST(10000000.00 AS Decimal(10, 2)), 1, N'Active', CAST(N'2025-05-24T18:28:39.923' AS DateTime), N'avatarTeacher.jpg', N'Cấp 3', N'10A1', N'Đang dạy')
INSERT [dbo].[GiaoVien] ([ID_GiaoVien], [ID_TaiKhoan], [HoTen], [ChuyenMon], [SDT], [ID_TruongHoc], [Luong], [IsHot], [TrangThai], [NgayTao], [Avatar], [BangCap], [LopDangDayTrenTruong], [TrangThaiDay]) VALUES (2, 5, N'Nguyễn Thị Minh', N'Ngữ văn', N'0987654322', 2, CAST(13000000.00 AS Decimal(10, 2)), 1, N'Active', CAST(N'2025-05-24T18:28:39.923' AS DateTime), N'avatarTeacher.jpg', N'Cấp 3', N'11B2', N'Đang dạy')
INSERT [dbo].[GiaoVien] ([ID_GiaoVien], [ID_TaiKhoan], [HoTen], [ChuyenMon], [SDT], [ID_TruongHoc], [Luong], [IsHot], [TrangThai], [NgayTao], [Avatar], [BangCap], [LopDangDayTrenTruong], [TrangThaiDay]) VALUES (3, 6, N'Trần Văn Hùng', N'Tiếng Anh', N'0987654323', 3, CAST(11000000.00 AS Decimal(10, 2)), 0, N'Active', CAST(N'2025-05-24T18:28:39.923' AS DateTime), N'avatarTeacher.jpg', N'Cấp 2', N'8C1', N'Chưa dạy')
SET IDENTITY_INSERT [dbo].[GiaoVien] OFF
GO
INSERT [dbo].[GiaoVien_LopHoc] ([ID_GiaoVien], [ID_LopHoc]) VALUES (1, 1)
INSERT [dbo].[GiaoVien_LopHoc] ([ID_GiaoVien], [ID_LopHoc]) VALUES (1, 6)
INSERT [dbo].[GiaoVien_LopHoc] ([ID_GiaoVien], [ID_LopHoc]) VALUES (1, 11)
GO
SET IDENTITY_INSERT [dbo].[HocPhi] ON 

INSERT [dbo].[HocPhi] ([ID_HocPhi], [ID_HocSinh], [ID_LopHoc], [MonHoc], [PhuongThucThanhToan], [TinhTrangThanhToan], [NgayThanhToan], [GhiChu], [Thang], [Nam], [SoBuoi], [HocPhiPhaiDong], [DaDong], [NoConLai]) VALUES (1, 1, 1, N'Toán', N'Tiền mặt', N'Đã thanh toán', CAST(N'2025-06-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HocPhi] ([ID_HocPhi], [ID_HocSinh], [ID_LopHoc], [MonHoc], [PhuongThucThanhToan], [TinhTrangThanhToan], [NgayThanhToan], [GhiChu], [Thang], [Nam], [SoBuoi], [HocPhiPhaiDong], [DaDong], [NoConLai]) VALUES (2, 3, 3, N'Sinh học', N'Tiền mặt', N'Đã thanh toán', CAST(N'2025-06-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HocPhi] ([ID_HocPhi], [ID_HocSinh], [ID_LopHoc], [MonHoc], [PhuongThucThanhToan], [TinhTrangThanhToan], [NgayThanhToan], [GhiChu], [Thang], [Nam], [SoBuoi], [HocPhiPhaiDong], [DaDong], [NoConLai]) VALUES (3, 5, 1, N'Toán', N'Chuyển khoản', N'Đã thanh toán', CAST(N'2025-06-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HocPhi] OFF
GO
SET IDENTITY_INSERT [dbo].[HocSinh] ON 

INSERT [dbo].[HocSinh] ([ID_HocSinh], [MaHocSinh], [ID_TaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT_PhuHuynh], [ID_TruongHoc], [GhiChu], [TrangThai], [NgayTao], [LopDangHocTrenTruong], [TrangThaiHoc], [Avatar]) VALUES (1, N'HS001', 14, N'Nguyễn Văn A', CAST(N'2008-03-15' AS Date), N'Nam', N'Hà Nội', N'0900111231', 1, N'1111', N'Inactive', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'11B1', N'Đang học', NULL)
INSERT [dbo].[HocSinh] ([ID_HocSinh], [MaHocSinh], [ID_TaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT_PhuHuynh], [ID_TruongHoc], [GhiChu], [TrangThai], [NgayTao], [LopDangHocTrenTruong], [TrangThaiHoc], [Avatar]) VALUES (2, N'HS002', 15, N'Trần Thị B', CAST(N'2007-09-10' AS Date), N'Nữ', N'Hải Phòng', N'0900111231', 2, N'Đã đăng ký lớp văn nâng cao', N'Inactive', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'11B1', N'Đang học', N'avatarTeacher.jpg')
INSERT [dbo].[HocSinh] ([ID_HocSinh], [MaHocSinh], [ID_TaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT_PhuHuynh], [ID_TruongHoc], [GhiChu], [TrangThai], [NgayTao], [LopDangHocTrenTruong], [TrangThaiHoc], [Avatar]) VALUES (3, N'HS003', 16, N'Lê Văn C', CAST(N'2009-01-20' AS Date), N'Nam', N'TP.HCM', N'0900111232', 2, N'Không có ghi chú', N'Inactive', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'9A1', N'Đang học', N'avatarTeacher.jpg')
GO
SET IDENTITY_INSERT [dbo].[HocSinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HocSinh_LopHoc] ON 

INSERT [dbo].[HocSinh_LopHoc] ([ID_HSLopHoc], [ID_LopHoc], [ID_HocSinh], [FeedBack], [Status_FeedBack]) VALUES (1, 1, 1, N'Học sinh tích cực', 1)
INSERT [dbo].[HocSinh_LopHoc] ([ID_HSLopHoc], [ID_LopHoc], [ID_HocSinh], [FeedBack], [Status_FeedBack]) VALUES (2, 2, 2, N'Cần chú ý hơn trong lớp', 0)
INSERT [dbo].[HocSinh_LopHoc] ([ID_HSLopHoc], [ID_LopHoc], [ID_HocSinh], [FeedBack], [Status_FeedBack]) VALUES (3, 3, 3, N'Học sinh chăm chỉ', 1)
GO
SET IDENTITY_INSERT [dbo].[HocSinh_LopHoc] OFF
GO
INSERT [dbo].[HocSinh_PhuHuynh] ([ID_HocSinh], [ID_PhuHuynh]) VALUES (1, 1)
INSERT [dbo].[HocSinh_PhuHuynh] ([ID_HocSinh], [ID_PhuHuynh]) VALUES (1, 47)
INSERT [dbo].[HocSinh_PhuHuynh] ([ID_HocSinh], [ID_PhuHuynh]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[HoTro] ON 

INSERT [dbo].[HoTro] ([ID_HoTro], [HoTen], [TenHoTro], [ThoiGian], [MoTa], [ID_TaiKhoan], [PhanHoi], [DaDuyet], [VaiTro], [SoDienThoai]) VALUES (1, N'Vũ Văn Chủ', N'Hỗ trợ sửa thành viên lớp', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'Thành viên lớp nghỉ học. Muốn xóa thành viên lớp', 4, NULL, N'Chờ duyệt', NULL, NULL)
INSERT [dbo].[HoTro] ([ID_HoTro], [HoTen], [TenHoTro], [ThoiGian], [MoTa], [ID_TaiKhoan], [PhanHoi], [DaDuyet], [VaiTro], [SoDienThoai]) VALUES (2, N'Nguyễn Thị Minh', N'Hỗ trợ chuyển lớp', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'Học sinh muốn chuyển sang lớp khác', 5, NULL, N'Chờ duyệt', NULL, NULL)
INSERT [dbo].[HoTro] ([ID_HoTro], [HoTen], [TenHoTro], [ThoiGian], [MoTa], [ID_TaiKhoan], [PhanHoi], [DaDuyet], [VaiTro], [SoDienThoai]) VALUES (3, N'Đỗ Thị Lan', N'Hỗ trợ thêm tài liệu', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'Cần thêm tài liệu Sinh học lớp 11', 9, NULL, N'Đã duyệt', NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoTro] OFF
GO
SET IDENTITY_INSERT [dbo].[KeyTag] ON 

INSERT [dbo].[KeyTag] ([ID_KeyTag], [KeyTag]) VALUES (1, N'Học Sinh Tiêu Biểu')
INSERT [dbo].[KeyTag] ([ID_KeyTag], [KeyTag]) VALUES (2, N'Giáo Viên Xuất Sắc')
SET IDENTITY_INSERT [dbo].[KeyTag] OFF
GO
SET IDENTITY_INSERT [dbo].[Keyword] ON 

INSERT [dbo].[Keyword] ([ID_Keyword], [Keyword]) VALUES (1, N'FeedBack')
INSERT [dbo].[Keyword] ([ID_Keyword], [Keyword]) VALUES (2, N'Giới Thiệu')
SET IDENTITY_INSERT [dbo].[Keyword] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoaHoc] ON 

INSERT [dbo].[KhoaHoc] ([ID_KhoaHoc], [CourseCode], [TenKhoaHoc], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [GhiChu], [TrangThai], [NgayTao], [ID_Khoi], [Image], [Order]) VALUES (1, N'MATH06', N'Toán', N'Khóa học Toán nâng cao dành cho học sinh lớp 6', CAST(N'2025-06-01' AS Date), CAST(N'2025-12-01' AS Date), N'Khóa học gồm 2 học kỳ', N'Active', CAST(N'2025-05-24T18:28:39.920' AS DateTime), 1, N'img/avatar/Grade.jpg', 1)
INSERT [dbo].[KhoaHoc] ([ID_KhoaHoc], [CourseCode], [TenKhoaHoc], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [GhiChu], [TrangThai], [NgayTao], [ID_Khoi], [Image], [Order]) VALUES (2, N'LIT06', N'Ngữ văn', N'Khóa học Văn lớp 6', CAST(N'2025-06-01' AS Date), CAST(N'2025-11-30' AS Date), NULL, N'Active', CAST(N'2025-05-24T18:28:39.920' AS DateTime), 1, N'img/avatar/Grade.jpg', 2)
INSERT [dbo].[KhoaHoc] ([ID_KhoaHoc], [CourseCode], [TenKhoaHoc], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [GhiChu], [TrangThai], [NgayTao], [ID_Khoi], [Image], [Order]) VALUES (3, N'SINH11', N'Sinh học', N'Khóa học Sinh học lớp 11', CAST(N'2025-09-01' AS Date), CAST(N'2026-06-30' AS Date), NULL, N'Active', CAST(N'2025-06-01T10:00:00.000' AS DateTime), 6, N'img/avatar/Grade.jpg', 3)
SET IDENTITY_INSERT [dbo].[KhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoiHoc] ON 

INSERT [dbo].[KhoiHoc] ([ID_Khoi], [TenKhoi], [Status_Khoi], [Image]) VALUES (1, N'Khối 6', 1, N'img/avatar/Grade.jpg')
INSERT [dbo].[KhoiHoc] ([ID_Khoi], [TenKhoi], [Status_Khoi], [Image]) VALUES (2, N'Khối 7', 1, N'img/avatar/Grade.jpg')
INSERT [dbo].[KhoiHoc] ([ID_Khoi], [TenKhoi], [Status_Khoi], [Image]) VALUES (3, N'Khối 8', 1, N'img/avatar/Grade.jpg')
SET IDENTITY_INSERT [dbo].[KhoiHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[LichHoc] ON 

INSERT [dbo].[LichHoc] ([ID_Schedule], [NgayHoc], [ID_SlotHoc], [ID_LopHoc], [ID_PhongHoc], [GhiChu], [DaDiemDanh]) VALUES (1, CAST(N'2025-06-10' AS Date), 1, 1, 1, N'Cố Gắng lên nhé', 1)
INSERT [dbo].[LichHoc] ([ID_Schedule], [NgayHoc], [ID_SlotHoc], [ID_LopHoc], [ID_PhongHoc], [GhiChu], [DaDiemDanh]) VALUES (2, CAST(N'2025-06-10' AS Date), 2, 2, 2, N'Học Tập tốt', NULL)
INSERT [dbo].[LichHoc] ([ID_Schedule], [NgayHoc], [ID_SlotHoc], [ID_LopHoc], [ID_PhongHoc], [GhiChu], [DaDiemDanh]) VALUES (3, CAST(N'2025-06-11' AS Date), 3, 3, 3, N'Học Tập tốt', NULL)
GO
SET IDENTITY_INSERT [dbo].[LichHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTaiLieu] ON 

INSERT [dbo].[LoaiTaiLieu] ([ID_LoaiTaiLieu], [LoaiTaiLieu]) VALUES (1, N'Tài Liệu Tham Khảo')
INSERT [dbo].[LoaiTaiLieu] ([ID_LoaiTaiLieu], [LoaiTaiLieu]) VALUES (2, N'Tài Liệu Ôn Tập')
INSERT [dbo].[LoaiTaiLieu] ([ID_LoaiTaiLieu], [LoaiTaiLieu]) VALUES (3, N'Tài Liệu Làm Thêm')
SET IDENTITY_INSERT [dbo].[LoaiTaiLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([ID_LopHoc], [ClassCode], [TenLopHoc], [ID_KhoaHoc], [SiSo], [SiSoToiDa], [SiSoToiThieu], [ID_Schedule], [ID_PhongHoc], [GhiChu], [TrangThai], [SoTien], [NgayTao], [Image], [Order]) VALUES (1, N'TOAN06A', N'Toán Nâng Cao', 1, 28, 40, 5, 1, 1, N'Thứ 2, Thứ 4, Thứ 6 7H30-9H30', N'Đang học', N'2000000', CAST(N'2025-05-24T18:28:39.920' AS DateTime), N'img/avatar/Grade.jpg', 1)
INSERT [dbo].[LopHoc] ([ID_LopHoc], [ClassCode], [TenLopHoc], [ID_KhoaHoc], [SiSo], [SiSoToiDa], [SiSoToiThieu], [ID_Schedule], [ID_PhongHoc], [GhiChu], [TrangThai], [SoTien], [NgayTao], [Image], [Order]) VALUES (2, N'VAN06A', N'Văn Học Nâng Cao', 2, 25, 40, 5, 2, 2, N'Thứ 2, Thứ 4, Thứ 6 7H30-9H30', N'Đang học', N'2000000', CAST(N'2025-05-24T18:28:39.920' AS DateTime), N'img/avatar/Grade.jpg', 2)
INSERT [dbo].[LopHoc] ([ID_LopHoc], [ClassCode], [TenLopHoc], [ID_KhoaHoc], [SiSo], [SiSoToiDa], [SiSoToiThieu], [ID_Schedule], [ID_PhongHoc], [GhiChu], [TrangThai], [SoTien], [NgayTao], [Image], [Order]) VALUES (3, N'SINH11A', N'Sinh Học Nâng Cao', 3, 25, 30, 5, 3, 3, N'Thứ 2, Thứ 4, Thứ 6 7H30-9H30', N'Chưa học', N'2500000', CAST(N'2025-06-01T10:00:00.000' AS DateTime), N'img/avatar/Grade.jpg', 3)
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([ID_MonHoc], [TenMonHoc]) VALUES (1, N'Toán ')
INSERT [dbo].[MonHoc] ([ID_MonHoc], [TenMonHoc]) VALUES (2, N'Văn')
INSERT [dbo].[MonHoc] ([ID_MonHoc], [TenMonHoc]) VALUES (3, N'Anh')
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
INSERT [dbo].[NopBaiTap] ([ID_HocSinh], [ID_BaiTap], [TepNop], [NgayNop], [Diem], [NhanXet], [ID_LopHoc]) VALUES (1, 1, N'/nopbai/hs1_baitap1.pdf', CAST(N'2025-06-01' AS Date), CAST(10.00 AS Decimal(5, 2)), N'Khong Ok', NULL)
INSERT [dbo].[NopBaiTap] ([ID_HocSinh], [ID_BaiTap], [TepNop], [NgayNop], [Diem], [NhanXet], [ID_LopHoc]) VALUES (3, 3, N'/nopbai/hs3_baitap3.pdf', CAST(N'2025-06-01' AS Date), CAST(7.50 AS Decimal(5, 2)), N'Hoàn thành tốt, cần luyện thêm', NULL)
INSERT [dbo].[NopBaiTap] ([ID_HocSinh], [ID_BaiTap], [TepNop], [NgayNop], [Diem], [NhanXet], [ID_LopHoc]) VALUES (5, 1, N'/nopbai/hs5_baitap1.pdf', CAST(N'2025-06-01' AS Date), CAST(9.50 AS Decimal(5, 2)), N'Bài làm xuất sắc', NULL)
GO
SET IDENTITY_INSERT [dbo].[PhanLoaiBlog] ON 

INSERT [dbo].[PhanLoaiBlog] ([ID_PhanLoai], [PhanLoai]) VALUES (1, N'Toán Học')
INSERT [dbo].[PhanLoaiBlog] ([ID_PhanLoai], [PhanLoai]) VALUES (2, N'Văn Học')
INSERT [dbo].[PhanLoaiBlog] ([ID_PhanLoai], [PhanLoai]) VALUES (3, N'Sinh học')
SET IDENTITY_INSERT [dbo].[PhanLoaiBlog] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongHoc] ON 

INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc], [SucChua], [TrangThai]) VALUES (1, N'Phòng 101', 40, N'Active')
INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc], [SucChua], [TrangThai]) VALUES (2, N'Phòng 102', 40, N'Active')
INSERT [dbo].[PhongHoc] ([ID_PhongHoc], [TenPhongHoc], [SucChua], [TrangThai]) VALUES (3, N'Phòng 103', 40, N'Active')
SET IDENTITY_INSERT [dbo].[PhongHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuHuynh] ON 

INSERT [dbo].[PhuHuynh] ([ID_PhuHuynh], [ID_TaiKhoan], [HoTen], [SDT], [Email], [DiaChi], [GhiChu], [TrangThai], [NgayTao], [Avatar]) VALUES (1, 114, N'Nguyễn Văn B', N'0900111231', N'phuhuynh1@example.com', N'Hà Nội', N'Không có ghi chú', N'Active', CAST(N'2025-06-01T10:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PhuHuynh] ([ID_PhuHuynh], [ID_TaiKhoan], [HoTen], [SDT], [Email], [DiaChi], [GhiChu], [TrangThai], [NgayTao], [Avatar]) VALUES (2, 115, N'Trần Thị H', N'0900111232', N'phuhuynh2@example.com', N'Hải Phòng', NULL, N'Active', CAST(N'2025-06-01T10:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PhuHuynh] ([ID_PhuHuynh], [ID_TaiKhoan], [HoTen], [SDT], [Email], [DiaChi], [GhiChu], [TrangThai], [NgayTao], [Avatar]) VALUES (3, 116, N'Lê Văn F', N'0900111233', N'phuhuynh3@example.com', N'TP.HCM', NULL, N'Active', CAST(N'2025-06-01T10:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PhuHuynh] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID_Slider], [Title], [Image], [BackLink]) VALUES (1, N'Tuyển Sinh Khóa Học Hè', N'img/avatar/Grade.jpg', N'img/avatar/Grade.jpg')
INSERT [dbo].[Slider] ([ID_Slider], [Title], [Image], [BackLink]) VALUES (2, N'Tiếp đà 2k9', N'img/avatar/Grade.jpg', N'http://localhost:8080/ELCentre1/HomePageCourse')
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[SlotHoc] ON 

INSERT [dbo].[SlotHoc] ([ID_SlotHoc], [SlotThoiGian]) VALUES (1, N'7:00 - 9:00')
INSERT [dbo].[SlotHoc] ([ID_SlotHoc], [SlotThoiGian]) VALUES (2, N'9:00 - 11:00')
INSERT [dbo].[SlotHoc] ([ID_SlotHoc], [SlotThoiGian]) VALUES (3, N'11:00 - 13:00')
SET IDENTITY_INSERT [dbo].[SlotHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([ID_Staff], [ID_TaiKhoan], [HoTen], [Avatar]) VALUES (1, 2, N'Tran Thi Staff1', N'avatar_staff1.jpg')
INSERT [dbo].[Staff] ([ID_Staff], [ID_TaiKhoan], [HoTen], [Avatar]) VALUES (2, 3, N'Le Van Staff2', N'avatar_staff2.jpg')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [ID_VaiTro], [UserType], [SoDienThoai], [TrangThai], [NgayTao]) VALUES (1, N'admin1@example.com', N'adminpass1', 1, N'Admin', N'0123456789', N'Active', CAST(N'2025-05-24T18:28:39.917' AS DateTime))
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [ID_VaiTro], [UserType], [SoDienThoai], [TrangThai], [NgayTao]) VALUES (2, N'staff1@example.com', N'staffpass', 2, N'Staff', N'0389549904', N'Active', CAST(N'2025-05-24T18:28:39.917' AS DateTime))
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [ID_VaiTro], [UserType], [SoDienThoai], [TrangThai], [NgayTao]) VALUES (3, N'staff2@example.com', N'staffpass2', 2, N'Staff', N'0123987655', N'Active', CAST(N'2025-05-24T18:28:39.917' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaoBaiTap] ON 

INSERT [dbo].[TaoBaiTap] ([ID_BaiTap], [ID_GiaoVien], [TenBaiTap], [MoTa], [NgayTao], [ID_LopHoc], [Deadline], [FileName]) VALUES (1, 1, N'Bài tập Đại số tuần 1', N'Giải phương trình bậc hai', CAST(N'2025-06-01' AS Date), 1, CAST(N'2025-06-15' AS Date), NULL)
INSERT [dbo].[TaoBaiTap] ([ID_BaiTap], [ID_GiaoVien], [TenBaiTap], [MoTa], [NgayTao], [ID_LopHoc], [Deadline], [FileName]) VALUES (2, 2, N'Bài tập Văn tuần 1', N'Phân tích bài thơ', CAST(N'2025-06-01' AS Date), 2, CAST(N'2025-06-15' AS Date), NULL)
INSERT [dbo].[TaoBaiTap] ([ID_BaiTap], [ID_GiaoVien], [TenBaiTap], [MoTa], [NgayTao], [ID_LopHoc], [Deadline], [FileName]) VALUES (3, 6, N'Bài tập Sinh học tuần 1', N'Phân tích hệ sinh thái', CAST(N'2025-06-01' AS Date), 3, CAST(N'2025-06-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[TaoBaiTap] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([ID_ThongBao], [ID_TaiKhoan], [NoiDung], [ID_HocPhi], [ThoiGian], [Status]) VALUES (1, 16, N'dme chung may
', NULL, CAST(N'2025-07-14T22:13:08.010' AS DateTime), N'ALLSTUDENT')
INSERT [dbo].[ThongBao] ([ID_ThongBao], [ID_TaiKhoan], [NoiDung], [ID_HocPhi], [ThoiGian], [Status]) VALUES (2, 18, N'dme chung may
', NULL, CAST(N'2025-07-14T22:13:08.010' AS DateTime), N'ALLSTUDENT')
INSERT [dbo].[ThongBao] ([ID_ThongBao], [ID_TaiKhoan], [NoiDung], [ID_HocPhi], [ThoiGian], [Status]) VALUES (3, 20, N'dme chung may
', NULL, CAST(N'2025-07-14T22:13:08.010' AS DateTime), N'ALLSTUDENT')
GO
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[TruongHoc] ON 

INSERT [dbo].[TruongHoc] ([ID_TruongHoc], [TenTruongHoc], [DiaChi]) VALUES (1, N'Trường THPT Hà Nội - Amsterdam', N'1. Hoàng Minh Giám, Trung Hòa, Cầu Giấy, Hà Nội')
INSERT [dbo].[TruongHoc] ([ID_TruongHoc], [TenTruongHoc], [DiaChi]) VALUES (2, N'Trường THPT Nguyễn Trãi - Ba Đình', N'50 P. Nam Cao, Giảng Võ, Ba Đình, Hà Nội')
INSERT [dbo].[TruongHoc] ([ID_TruongHoc], [TenTruongHoc], [DiaChi]) VALUES (3, N'Trường THPT Chuyên Chu Văn An', N'10 Đ. Thụy Khuê, Thuỵ Khuê, Tây Hồ, Hà Nội')
SET IDENTITY_INSERT [dbo].[TruongHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogs] ON 

INSERT [dbo].[UserLogs] ([ID_Log], [ID_TaiKhoan], [HanhDong], [ThoiGian]) VALUES (1, 1, N'Đăng nhập hệ thống', CAST(N'2025-06-01T10:00:00.000' AS DateTime))
INSERT [dbo].[UserLogs] ([ID_Log], [ID_TaiKhoan], [HanhDong], [ThoiGian]) VALUES (2, 4, N'Tải tài liệu Toán Đại số', CAST(N'2025-06-01T10:00:00.000' AS DateTime))
INSERT [dbo].[UserLogs] ([ID_Log], [ID_TaiKhoan], [HanhDong], [ThoiGian]) VALUES (3, 14, N'Xem lịch học', CAST(N'2025-06-01T10:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([ID_VaiTro], [TenVaiTro], [MieuTa], [TrangThai], [NgayTao]) VALUES (1, N'Admin', N'Quản trị hệ thống, có toàn quyền điều khiển', N'Active', CAST(N'2025-05-24T18:28:39.913' AS DateTime))
INSERT [dbo].[VaiTro] ([ID_VaiTro], [TenVaiTro], [MieuTa], [TrangThai], [NgayTao]) VALUES (2, N'Staff', N'Nhân viên hỗ trợ, có quyền điều khiển hệ thống ở mức giới hạn', N'Active', CAST(N'2025-05-24T18:28:39.913' AS DateTime))
INSERT [dbo].[VaiTro] ([ID_VaiTro], [TenVaiTro], [MieuTa], [TrangThai], [NgayTao]) VALUES (3, N'GiaoVien', N'Giáo viên giảng dạy, quản lý lớp học và học sinh', N'Active', CAST(N'2025-05-24T18:28:39.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [UQ_GiaoVien_ID_TaiKhoan]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[GiaoVien] ADD  CONSTRAINT [UQ_GiaoVien_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HocSinh_ID_TaiKhoan]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[HocSinh] ADD  CONSTRAINT [UQ_HocSinh_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HocSinh_MaHocSinh]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[HocSinh] ADD  CONSTRAINT [UQ_HocSinh_MaHocSinh] UNIQUE NONCLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhoaHoc_CourseCode]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[KhoaHoc] ADD  CONSTRAINT [UQ_KhoaHoc_CourseCode] UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LopHoc_ClassCode]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[LopHoc] ADD  CONSTRAINT [UQ_LopHoc_ClassCode] UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PhuHuynh_ID_TaiKhoan]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[PhuHuynh] ADD  CONSTRAINT [UQ_PhuHuynh_ID_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_Email]    Script Date: 7/25/2025 1:40:23 AM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyLopHoc] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangTaiLieu] ADD  CONSTRAINT [DF__DangTaiLi__NgayT__1CBC4616]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT (getdate()) FOR [ThoiGianCapNhat]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HocSinh] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HocSinh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoiHoc] ADD  DEFAULT ((1)) FOR [Status_Khoi]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LopHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ((0)) FOR [SoBuoiDay]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ('Pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LuongGiaoVien] ADD  DEFAULT ((0)) FOR [ThuongPhat]
GO
ALTER TABLE [dbo].[NopBaiTap] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[PhongHoc] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuHuynh] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuHuynh] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaoBaiTap] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[UserLogs] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT ('Active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_TaiKhoan]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_KeyTag] FOREIGN KEY([ID_KeyTag])
REFERENCES [dbo].[KeyTag] ([ID_KeyTag])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_KeyTag]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Keyword] FOREIGN KEY([ID_Keyword])
REFERENCES [dbo].[Keyword] ([ID_Keyword])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Keyword]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_KhoiHoc] FOREIGN KEY([ID_Khoi])
REFERENCES [dbo].[KhoiHoc] ([ID_Khoi])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_KhoiHoc]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_PhanLoaiBlog] FOREIGN KEY([ID_PhanLoai])
REFERENCES [dbo].[PhanLoaiBlog] ([ID_PhanLoai])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_PhanLoaiBlog]
GO
ALTER TABLE [dbo].[DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKyLopHoc_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[DangKyLopHoc] CHECK CONSTRAINT [FK_DangKyLopHoc_HocSinh]
GO
ALTER TABLE [dbo].[DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DangKyLopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[DangKyLopHoc] CHECK CONSTRAINT [FK_DangKyLopHoc_LopHoc]
GO
ALTER TABLE [dbo].[DangTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_DangTaiLieu_LoaiTaiLieu] FOREIGN KEY([ID_LoaiTaiLieu])
REFERENCES [dbo].[LoaiTaiLieu] ([ID_LoaiTaiLieu])
GO
ALTER TABLE [dbo].[DangTaiLieu] CHECK CONSTRAINT [FK_DangTaiLieu_LoaiTaiLieu]
GO
ALTER TABLE [dbo].[DangTaiLieu]  WITH CHECK ADD  CONSTRAINT [FK_DangTaiLieu_MonHoc] FOREIGN KEY([ID_MonHoc])
REFERENCES [dbo].[MonHoc] ([ID_MonHoc])
GO
ALTER TABLE [dbo].[DangTaiLieu] CHECK CONSTRAINT [FK_DangTaiLieu_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HocSinh]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_LopHoc]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_HocSinh]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_LichHoc] FOREIGN KEY([ID_Schedule])
REFERENCES [dbo].[LichHoc] ([ID_Schedule])
GO
ALTER TABLE [dbo].[DiemDanh] CHECK CONSTRAINT [FK_DiemDanh_LichHoc]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_TaiKhoan]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_TruongHoc] FOREIGN KEY([ID_TruongHoc])
REFERENCES [dbo].[TruongHoc] ([ID_TruongHoc])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_TruongHoc]
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_LopHoc_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc] CHECK CONSTRAINT [FK_GiaoVien_LopHoc_GiaoVien]
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_LopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[GiaoVien_LopHoc] CHECK CONSTRAINT [FK_GiaoVien_LopHoc_LopHoc]
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocPhi] CHECK CONSTRAINT [FK_HocPhi_HocSinh]
GO
ALTER TABLE [dbo].[HocPhi]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[HocPhi] CHECK CONSTRAINT [FK_HocPhi_LopHoc]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_TaiKhoan]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_TruongHoc] FOREIGN KEY([ID_TruongHoc])
REFERENCES [dbo].[TruongHoc] ([ID_TruongHoc])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_TruongHoc]
GO
ALTER TABLE [dbo].[HocSinh_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHoc_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocSinh_LopHoc] CHECK CONSTRAINT [FK_HocSinh_LopHoc_HocSinh]
GO
ALTER TABLE [dbo].[HocSinh_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[HocSinh_LopHoc] CHECK CONSTRAINT [FK_HocSinh_LopHoc_LopHoc]
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh_HocSinh]
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_PhuHuynh_PhuHuynh] FOREIGN KEY([ID_PhuHuynh])
REFERENCES [dbo].[PhuHuynh] ([ID_PhuHuynh])
GO
ALTER TABLE [dbo].[HocSinh_PhuHuynh] CHECK CONSTRAINT [FK_HocSinh_PhuHuynh_PhuHuynh]
GO
ALTER TABLE [dbo].[HoTro]  WITH CHECK ADD  CONSTRAINT [FK_HoTro_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[HoTro] CHECK CONSTRAINT [FK_HoTro_TaiKhoan]
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHoc_KhoiHoc] FOREIGN KEY([ID_Khoi])
REFERENCES [dbo].[KhoiHoc] ([ID_Khoi])
GO
ALTER TABLE [dbo].[KhoaHoc] CHECK CONSTRAINT [FK_KhoaHoc_KhoiHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_LopHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_PhongHoc]
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD  CONSTRAINT [FK_LichHoc_SlotHoc] FOREIGN KEY([ID_SlotHoc])
REFERENCES [dbo].[SlotHoc] ([ID_SlotHoc])
GO
ALTER TABLE [dbo].[LichHoc] CHECK CONSTRAINT [FK_LichHoc_SlotHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_KhoaHoc] FOREIGN KEY([ID_KhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([ID_KhoaHoc])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_KhoaHoc]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_PhongHoc] FOREIGN KEY([ID_PhongHoc])
REFERENCES [dbo].[PhongHoc] ([ID_PhongHoc])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_PhongHoc]
GO
ALTER TABLE [dbo].[LuongGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongGiaoVien_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[LuongGiaoVien] CHECK CONSTRAINT [FK_LuongGiaoVien_GiaoVien]
GO
ALTER TABLE [dbo].[LuongGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongGiaoVien_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[LuongGiaoVien] CHECK CONSTRAINT [FK_LuongGiaoVien_LopHoc]
GO
ALTER TABLE [dbo].[NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBaiTap_HocSinh] FOREIGN KEY([ID_HocSinh])
REFERENCES [dbo].[HocSinh] ([ID_HocSinh])
GO
ALTER TABLE [dbo].[NopBaiTap] CHECK CONSTRAINT [FK_NopBaiTap_HocSinh]
GO
ALTER TABLE [dbo].[NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBaiTap_TaoBaiTap] FOREIGN KEY([ID_BaiTap])
REFERENCES [dbo].[TaoBaiTap] ([ID_BaiTap])
GO
ALTER TABLE [dbo].[NopBaiTap] CHECK CONSTRAINT [FK_NopBaiTap_TaoBaiTap]
GO
ALTER TABLE [dbo].[PhuHuynh]  WITH CHECK ADD  CONSTRAINT [FK_PhuHuynh_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[PhuHuynh] CHECK CONSTRAINT [FK_PhuHuynh_TaiKhoan]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([ID_VaiTro])
REFERENCES [dbo].[VaiTro] ([ID_VaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[TaoBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_TaoBaiTap_GiaoVien] FOREIGN KEY([ID_GiaoVien])
REFERENCES [dbo].[GiaoVien] ([ID_GiaoVien])
GO
ALTER TABLE [dbo].[TaoBaiTap] CHECK CONSTRAINT [FK_TaoBaiTap_GiaoVien]
GO
ALTER TABLE [dbo].[TaoBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_TaoBaiTap_LopHoc] FOREIGN KEY([ID_LopHoc])
REFERENCES [dbo].[LopHoc] ([ID_LopHoc])
GO
ALTER TABLE [dbo].[TaoBaiTap] CHECK CONSTRAINT [FK_TaoBaiTap_LopHoc]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_HocPhi] FOREIGN KEY([ID_HocPhi])
REFERENCES [dbo].[HocPhi] ([ID_HocPhi])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_HocPhi]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_TaiKhoan]
GO
ALTER TABLE [dbo].[UserLogs]  WITH CHECK ADD  CONSTRAINT [FK_UserLogs_TaiKhoan] FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[UserLogs] CHECK CONSTRAINT [FK_UserLogs_TaiKhoan]
GO
