<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminGetFromDashboard</servlet-name>
        <servlet-class>controller.adminGetFromDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>controller.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>controller.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourse</servlet-name>
        <servlet-class>controller.SearchCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCourse</servlet-name>
        <servlet-class>controller.ManagerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKhoaHoc</servlet-name>
        <servlet-class>controller.AddKhoaHoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminActionWithUser</servlet-name>
        <servlet-class>controller.adminActionWithUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/SendEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminGetFromDashboard</servlet-name>
        <url-pattern>/adminGetFromDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/Sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourse</servlet-name>
        <url-pattern>/SearchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCourse</servlet-name>
        <url-pattern>/ManagerCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKhoaHoc</servlet-name>
        <url-pattern>/AddKhoaHoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/FacebookLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminActionWithUser</servlet-name>
        <url-pattern>/adminActionWithUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
